@import "../../style/resources";

$breakpoints: (
  480px: 2,
  560px: 3,
  860px: 4,
  1000px: 5
);

.entity-list-item-outer {
  position: relative;
  display: block;
  flex: 0 0 100%;

  @each $bp, $width in $breakpoints {
    @include media($min: $bp) {
      flex: 0 0 percentage(1 / $width);
    }
  }

  &::after {
    display: block;
    content: "";
    padding-top: 80%;

    @include media($min: 480px) {
      padding-top: 110%;
    }
  }
}

.entity-list-item-inner {
  position: absolute;
  top: 0;
  left: -1px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #fff;
  margin: $gutter;

  &:hover {
    .copy-button,
    .entity-name {
      opacity: 1;
    }
  }
}

.entity-symbol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-size: calc(80px + 5vw);
  line-height: 1.4;
  font-weight: 300;
  color: $color-accent;

  @include media($min: 480px) {
    font-size: calc(40px + 5vw);
  }
}

.entity-space {
  height: 1.2em;
  border: 2px dashed $grey-mid;
  vertical-align: middle;
}

.entity-space-standard {
  composes: entity-space;
  width: 0.45em;
}

.entity-space-en {
  composes: entity-space;
  width: 0.78em;
}

.entity-space-em {
  composes: entity-space;
  width: 1.15em;
}

.entity-space-thin {
  composes: entity-space;
  width: 0.43em;
}

.entity-name {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  line-height: 1.6;
  font-weight: 500;
  padding: $gutter 0;
  color: $grey-dark;
  opacity: 0;
  transition: opacity 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: calc(10px + 0.05vw);
}

.copy-button {
  @extend %reset-button;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  width: 50%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $grey-mid;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;

  &:hover {
    color: $color-secondary;
  }
}

.copy-button-html {
  composes: copy-button;
  left: 0;
}

.copy-button-css {
  composes: copy-button;
  right: 0;
}

.copy-button-text {
  padding: $gutter;
  font-family: monospace;
}

