@import "./resources";

.flyaway {
  position: fixed;
  z-index: 10;
  left: 30vw;
  top: 30vh;
  display: inline-block;
  width: 70px;
  margin-left: -35px;
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: ($gutter / 2);
  box-shadow: 0 2px 10px rgba(#000, 0.1);
  animation-name: fade, flyAway;
  animation-iteration-count: 1, 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 1.5s, 1.5s;
  animation-delay: 0, 1s;
  transform-origin: center -20px;
  animation-timing-function: linear, ease;
}

@keyframes flyAway {
  0% {
    transform: scale(0.8) rotate(0);
  }
  25% {
    transform: rotate(-28deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-14deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes fade {
  0% {
    margin-top: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: -100px;
  }
}
